{% extends "base.html" %}

{% block head %}
    <style>
        
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <br>

        <div class="row clearfix">
            <div class="col-md-12">
                <h4> Health UC
                    <small>(DM with Renal)</small>
                </h4>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-4 clearfix">
                <div class="form-group">
                    <label for="HN">HN</label>
                    <input type="text" class="form-control" id="HN" placeholder="HN">
                </div>
                <hr>
                <div class="form-group">
                    <label for="cc">Chief Complaint</label>
                    <input type="text" class="form-control" id="cc" placeholder="Chief Complaint">
                </div>
                <div class="form-group">
                    <label for="pi">Physical Illness</label>
                    <input type="text" class="form-control" id="pi" placeholder="Physical Illness">
                </div>
                <div class="form-group">
                    <label for="pe">Physical Examination</label>
                    <input type="text" class="form-control" id="pe" placeholder="Physical Examination">
                </div>
                <div class="form-group">
                    <label for="cm">Co-morbidity Code</label>
                    <input type="text" class="form-control" id="cm" placeholder="Co-morbidity Code">
                </div>               
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="lab">Lab name</label>
                        </div>                     
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="lab">Result name</label>
                        </div>                     
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="lab">Result value</label>
                        </div>                     
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="lab">Unit</label>
                        </div>                     
                    </div>
                </div>
                <div class="row lab">
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type='button' class='btn btn-outline-primary' id='addlab'>Add Lab</button>                   
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <hr>
                <button type='button' onclick="this.value=getTimeStamp()" class='btn btn-outline-primary' id='submit_check'>Check</button>
                <br><br>
                <div class="row clearfix">
                        <div class="col-md-1">
                            <b>Result</b>
                        </div>
                        <div class="col-md-2">
                        </div>
                </div>   
                <div class="card">
                    <div id="result" class="card-body">
                    </div>
                </div>             
            </div>
        </div>    
        <hr>
        version 23122019
    </div>


{% endblock %}

{% block script %}
    <script>
        // # = id
        // dot = class_name

        var data_lab_groups = []
        $.get("/lab-groups", function (data) {
            data_lab_groups = data.result
        })

        var data_lab_names = {}
        $.get("/diclab", function (data) {
            data_lab_names = data.result
        })

        function lab_groups_change(labgroup) {
            addlabname(labgroup.parentNode.parentNode, data_lab_names[labgroup.value]);
            addlabunit(labgroup.parentNode.parentNode, data_lab_names[labgroup.value][0])
        }

        function lab_unit_change(labname) {
            addlabunit(labname.parentNode.parentNode, labname.value);
        }

        function getTimeStamp() {
            var now = new Date();
            return ((now.getMonth() + 1) + '/' + (now.getDate()) + '/' + now.getFullYear() + " " + now.getHours() + ':'
                            + ((now.getMinutes() < 10) ? ("0" + now.getMinutes()) : (now.getMinutes())) + ':' + ((now.getSeconds() < 10) ? ("0" + now
                            .getSeconds()) : (now.getSeconds())));
        }

        function addlab() {
            var lab_groups_option = data_lab_groups.map((group) => '<option value="' + group + '">'+ group +'</option>')
            var lab_groups_select = '<select name="lab_groups[]" onchange="lab_groups_change(this);" class="browser-default custom-select lab_groups">' + lab_groups_option + '</select>'
            var lab_names_option = data_lab_names["1 Hr. Postprandial blood glucose"].map((name) => '<option value="' + name + '">'+ name +'</option>')
            var lab_names_select = '<select name="lab_names[]" onchange="lab_unit_change(this);" class="browser-default custom-select lab_names">' + lab_names_option + '</select>'
            var strBuilder = '<div class="row a1"><div class="col-3">' + lab_groups_select + '</div><div class="col-3 lab_name">' + lab_names_select + '</div><div class="col-3"><div class="form-group"><input name="lab_results[]" type="text" class="form-control lab_results" id="" placeholder="Result"></div></div><div class="col-3"><div class="form-group"><label for="unit">none</label></div></div></div>'
            $(".lab").append(strBuilder)
        }

        function addlabname(parent, array) {
            var lab_name_option = array.map((name) => '<option value="' + name + '">'+ name +'</option>')
            var lab_name_select = '<select name="lab_names[]" onchange="lab_unit_change(this);" class="browser-default custom-select lab_names">' + lab_name_option + '</select>'
            $(parent.children[1]).empty().append(lab_name_select)
        }

        function addlabunit(parent, labname) {
            data = {
                labgroup: $(parent.children[0]).find('.lab_groups')[0].value,
                labname: labname
            }
            $.ajax({
                url: '/dicunit',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    $(parent.children[3]).empty().append(response.result)
                },
                error: function (response) {
                    console.log(response)
                }
            });
        }

        function uc_check(data) {
            $.ajax({
                url: '/uc',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    $('#result').empty().append(response.result)
                    $('.col-md-2').empty()
                },
                error: function (response) {
                    console.log(response)
                    $('#result').empty().append(response.responseText)
                    $('.col-md-2').empty()
                }
            });
        }

        $(document).ready(function () {
            $('#submit_check').on('click', function (e) {
                $('#result').empty()
                if ($('#HN').val() == ''){
                    $('#result').empty().append('Please specify HN')
                }
                else{
                    lab_groups = []
                    lab_names = []
                    lab_results = []
                    $('.lab_groups').each(function() {
                        lab_groups.push(this.value)
                    })
                    $('.lab_names').each(function() {
                        lab_names.push(this.value)
                    })
                    $('.lab_results').each(function() {
                        lab_results.push(this.value)
                    })
                    console.log($('#HN').val())
                    data = {
                        HN: $('#HN').val(),
                        chief_complaint: $('#cc').val(),
                        present_illness: $('#pi').val(),
                        physical_exam: $('#pe').val(),
                        CO_MORBIDITY_Code: $('#cm').val(),
                        lab_groups: lab_groups,
                        lab_names: lab_names,
                        lab_results: lab_results,
                        createdat: $('#submit_check').val(),
                        visitid: 'now'
                    }
                    uc_check(data)
                    $('.col-md-2').empty().append('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>')
                }
            })

            $('#addlab').on('click', function (e) {
                addlab()
            })

            
        })


    </script>
{% endblock %}
